{% extends "base.html" %}

{% block scripts %}
    <script src="main/static/js/game_screen_autoselector.js" defer></script>
{% endblock %}

{% block box_content %}

    <div class="box-content">
        <form action="{{ url_for('main_bp.new_game_create') }}" method="POST">
            <div class="center margin-bottom-20px">
                <h3 class="font-bold">Create Game</h3>
            </div>
            <h4 class="font-bold">Game Settings</h4>
            <div class="input-spacer input-inline">
                <div class="radio-button input-spacer-right-50px">
                    <div class="radio-button-title">
                        <h5>Enable double colors</h5>
                    </div>
                    <div class="radio-button-group input-inline">
                        <label class="radio-button-container">Off
                            <input type="radio" name="doubleColorOption" class="doubleColorOption" value="0" checked />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-button-container">On
                            <input type="radio" name="doubleColorOption" class="doubleColorOption" value="1" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="radio-button">
                    <div class="radio-button-title">
                        <h5>Cheatmode</h5>
                    </div>
                    <div class="radio-button-group input-inline">
                        <label class="radio-button-container">Off
                            <input type="radio" name="cheatModeOption" value="0" checked />
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-button-container">On
                            <input type="radio" name="cheatModeOption" value="1" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="input-spacer">
                <h5>How many colors do you want to play with?</h5>
                <div class="radio-button">
                    <div class="radio-button-group input-inline height-36px">
                        {% for i in range(6, 11) %}
                             <label class="radio-button-container-2 amount-of-colors-container">
                                 <div class="checkmark-2-number">
                                     <span>{{i}}</span>
                                 </div>
                                <input type="radio" name="amountOfColorsOption" class="amountOfColorsOption" value="{{i}}" {{'checked' if i == 6}} />
                                <span class="checkmark-2"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="input-spacer margin-bottom-15px">
                <h5>How long do you want your code to be?</h5>
                <div class="radio-button">
                    <div class="radio-button-group input-inline height-36px">
                        {% for i in range(4, 11) %}
                             <label class="radio-button-container-2 amount-of-pins-container">
                                 <div class="checkmark-2-number">
                                     <span>{{i}}</span>
                                 </div>
                                <input type="radio" name="amountOfPins" class="amountOfPins" value="{{i}}" {{'checked' if i == 4}} />
                                <span class="checkmark-2"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="submit">
                    <a>Start crackin'</a>
                </button>
            </div>
        </form>
    </div>

{% endblock %}
