{% extends "game.html" %}

{% block side_bar %}

    <div class="box-content mr-4 ml-4">
        <div class="border-container">
            <div class="border-container-content mb-2">
                <div class="border-container-title font-bold mb-3">
                    Colors
                </div>
                <div class="colors">
<!--                    TODO: Make dynamic-->
                    <div class="color draggable-color red-color"></div>
                    <div class="color draggable-color blue-color"></div>
                    <div class="color draggable-color green-color"></div>
                    <div class="color draggable-color yellow-color"></div>
                    <div class="color draggable-color orange-color"></div>
                    <div class="color draggable-color brown-color"></div>
                </div>
            </div>
            <div class="button-container">
                <button>
                    <a class="px-3 mx-auto">Apply Code</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}

    <div class="container-content full-width">
        {% for n in range(13) %}
            <div class="row margin-bottom-5px">
                <div class="col-md-10">
                    <div class="guess-wrapper {{ 'green-color' if n == 12 }}">
<!--                        TODO: Make dynamic-->
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="hint-square">
<!--                        TODO: Make dynamic-->
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

<div data-target="#winner-dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title text-center mb-4">WE HAVE A WINNER!</h2>
                <p class="text-center">You cracked the code in:</p>
                <p class="text-center my-4 large-green-text">4 tries!</p>
            </div>
            <div class="modal-footer text-left">
                <button type="button" class="btn btn-primary mr-2">Go to statistics</button>
                <button type="button" class="btn btn-secondary">Play again</button>
            </div>
        </div>
    </div>
</div>
