{% extends "game.html" %}

{% block overlay %}
    <!-- TODO: make dynamic. Before loading the page, check if the player has won and send boolean to page -->
    {% if False %}
    <div class="modal-overlay"></div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title text-center mb-4 fat">WE HAVE A WINNER!</h2>
                    <p class="text-center modal-text">You cracked the code in:</p>
                    <p class="text-center my-4 large-green-text">4 tries!</p>
                </div>
                <div class="text-right p-3">
                    <button>
                        <a href="{{ url_for('main_bp.create') }}">Go to statistics</a>
                    </button>
                    <button>
                        <a href="{{ url_for('main_bp.users_overview') }}">Play again</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block outside_box_class %}
    full-width
{%  endblock %}

{% block main %}
    <div class="box-content mr-4 ml-4">
        <div class="title full-width">
            <h1><span class="fat">Master</span><span class="thin">mind</span></h1>
            <h5 class="sub-title">Made by: Cees Melis and Bram Bastiaansen</h5>
        </div>
        <div class="border-container">
            <div class="border-container-content mb-2">
                <div class="border-container-title font-bold mb-3">
                    Colors
                </div>
                <div class="colors">
                    {% for item in game_sequence %}
                        <div class="color draggable-color draggable {{ item.name.lower() }}" draggable="true" value="{{ item.id }}"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="button-container">
                <button>
                    <a class="px-3 mx-auto">Apply Code</a>
                </button>
            </div>
            <div class="position-relative">
                <div class="dragZone">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 container-content full-width">
        {% for n in range(13) %}
            <div class="row margin-bottom-5px">
                <div class="col-md-9">
                    <div class="guess-wrapper {{ 'green' if n == 12 }}">
                    {% for n in range(amount_of_pins) %}
<!--                        TODO: Add disabled attribute to div based on current attempt.-->
                        <div class="color color-slot dropZone" disabled="false"></div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hint-square">
                    {% for n in range(amount_of_pins) %}
                        <div class="hint-slot"></div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
