{% extends "game.html" %}

{% block overlay %}
    <!-- TODO: send boolean game_won to this page when the game has ended -->
    {% if has_won is not none %}
        <div class="modal-overlay"></div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        {% if has_won %}
                            <h2 class="modal-title text-center mb-4 fat">WE HAVE A WINNER!</h2>
                            <p class="text-center modal-text">You cracked the code in:</p>
                            <!-- TODO: add attempt count -->
                            <p class="text-center my-4 large-green-text">TODO tries!</p>
                        {% else %}
                            <h2 class="modal-title text-center mb-4 fat">Game Over</h2>
                            <p class="text-center modal-text-smaller">You were not able to crack the code</p>
                        {% endif %}
                    </div>
                    <div class="text-right p-3">
                        <button>
                            <a href="{{ url_for('main_bp.create') }}">Go to statistics</a>
                        </button>
                        <button>
                            <a href="{{ url_for('main_bp.users_overview') }}">Play again</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block outside_box_class %}
    full-width
{%  endblock %}

{% block main %}

    <form class="d-flex" method="POST" action="{{ url_for('main_bp.game') }}" id="game-form">
        <div class="box-content mr-3 ml-3">
            <div class="title full-width mb-4">
                <h1><span class="fat">Master</span><span class="thin">mind</span></h1>
                <h5 class="sub-title">Made by: Cees Melis and Bram Bastiaansen</h5>
            </div>
            <h4 class="fat text-center text-break font-size-1-rem mb-3">Good luck, <span class="thin font-size-1-rem">{{ player_name }}!</span></h4>
            <div class="border-container">
                <div class="border-container-content mb-2">
                    <div class="border-container-title font-bold mb-3">
                        Colors
                    </div>
                    <div class="colors">
                        {% for item in game_colors %}
                            <input class="color draggable-color draggable {{ item.name.lower() }}" draggable="true" name="draggable" value="{{ item.id }}" readonly />
                        {% endfor %}
                    </div>
                </div>
                <div class="button-container">
                    <button id="game-apply-button" disabled>
                        <a class="px-3 mx-auto">Apply Code</a>
                    </button>
                </div>
                <div class="position-relative">
                    <div class="dragZone">

                    </div>
                </div>
            </div>
        </div>
        <div class="container-content full-width">
            {% for attempt in attempts %}
                <div class="guess-row margin-bottom-5px">
                    <div>
                        <div class="guess-wrapper disabled">
                        {% for attempt_color in attempt.attempt_colors %}
                            <div class="color color-slot" disabled>
                                <input class="color draggable-color no-events {{ attempt_color.color.name.lower() }}" readonly />
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div>
                        <div class="hint-square">
<!--                            TODO: Place pins-->
                        {% for n in range(amount_of_pins) %}
                            <div class="hint-slot"></div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for attempt in range(12 - attempts|length) %}
                <div class="guess-row margin-bottom-5px">
                    <div>
                        <div class="guess-wrapper {{ 'active' if attempt == 0 else 'disabled' }}">
                        {% for n in range(amount_of_pins) %}
    <!--                        TODO: Add disabled attribute to div based on current attempt.-->
                            <div class="color color-slot {{ 'dropZone' if attempt == 0 }}" disabled="false"></div>
                        {% endfor %}
                        </div>
                    </div>
                    <div>
                        <div class="hint-square">
                        {% for n in range(amount_of_pins) %}
                            <div class="hint-slot"></div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
           <div class="guess-row margin-bottom-5px">
               <div class="guess-wrapper lightergreen">
                 {% if cheat_enabled %}
                     {% for game_color in game_sequence %}
                            <div class="color color-slot no-events" disabled draggable="false">
                               <div class="color draggable-color no-events {{ game_color.color.name.lower() }}" disabled draggable="false"></div>
                            </div>
                      {% endfor %}
                    {% else %}
                      {% for _ in range(amount_of_pins) %}
                            <div class="color color-slot" disabled></div>
                        {% endfor %}
                 {% endif %}
                </div>
            </div>
        </div>
    </form>

{% endblock %}
