{% extends "base_template.html" %}

{% block stylesheet %}
    <link href="{{ url_for('static', filename='main/css/startscreen.css') }}" rel="stylesheet" />
{% endblock %}

{% block box_content %}

    <div class="box-content">
        <div class="input-container input-spacer">
            <label>Nickname</label>
            <input type="text" placeholder="Enter nickname..." />
        </div>
        <div class="button-container">
            <button>
                <a href="#">Enter Mastermind</a>
            </button>
        </div>
    </div>

{% endblock %}