{% extends "base.html" %}

{% block box_content %}
    {% if player is not none %}
        <h3 class="text-center mb-4">Statistics - {{ player.name }}</h3>

        {% if player.games %}
            <h3>Gespeeld op</h3>
            <table class="mb-4">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Aantal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game_amount_by_date in game_amounts_by_date %}
                        <tr>
                            <td>{{ game_amount_by_date.date }}</td>
                            <td>{{ game_amount_by_date.amount }} keer</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Gespeelde potjes</h3>
            <table class="mb-5">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Datum</th>
                        <th>Pogingen</th>
                        <th>Cheatmode</th>
                        <th>Gewonnen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in player.games %}
                        <tr>
                            <td>#{{ game.id }}</td>
                            <td>{{ game.played_on.date() }}</td>
                            {% if game.is_finished %}
                                <td>{{ game.attempts|length }} {{ "poging" if game.attempts|length == 1 else "pogingen"}}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            <td>{{ "Ja" if game.cheats_used else "Nee"}}</td>
                            <td>{{ "Ja" if game.has_won else "Nee"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="my-4 text-center">{{ player.name }} heeft nog geen potjes gespeeld.</h3>
        {% endif %}
    {% else %}
        <h3 class="my-4 text-center">Deze speler bestaat niet</h3>
    {% endif %}

    <div class="button-container">
        <button>
            <a href="{{ url_for('main_bp.users_overview') }}" class="green-btn">Return to all players</a>
        </button>
        <button>
            <a href="{{ url_for('main_bp.create') }}" class="green-btn">Start playing</a>
        </button>
    </div>
{% endblock %}
