.border-container-content {
    border-radius: 10px;
    border: 1px solid $borderColor;
    padding: 10px;
}

.container-content {
    padding: 5px;
    margin-bottom: 15px;
}

.border-container-title {
    text-align: center;
}

.button-container {
    justify-content: center;
}

div.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 15px 10px;
}

.colors {
    text-align: center;
}

div.red-color { background-color: $red; }
div.blue-color { background-color: $navyblue; }
div.green-color { background-color: $lightgreen; }
div.yellow-color { background-color: $yellow; }
div.orange-color { background-color: $orange; }
div.brown-color { background-color: $brown; }

div.color-slot {
    border: 1px solid $borderColor;
    margin: 0 10px;
    height: 40px;
    width: 40px;
    background-color: $white;
}

.no-table-whitespace {
    margin-bottom: -7px !important;
}

.guess-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: 1px solid $borderColor;
    border-radius: 0.3em;
    padding: 5px 0;
    height: 100%;
}

.first-guess {
    background-color: inherit;
}

.answer {
    background-color: $lightgreen;
}

.answer .color-slot {
    background-color: white;
}

.hint-square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid $borderColor;
    background-color: $lightgreen;
    border-radius: 0.3em;
}

.hint-slot {
    min-width: 17px;
    max-width: 17px;
    height: 17px;
    margin: 5px;
    border-radius: 0.15em;
    background-color: white;
}

.draggable-color:hover {
    animation: scale-up-center 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    cursor: pointer;
}

.color-slot:hover, .hint-slot:hover {
    animation: scale-up-center 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}