.border-container-content {
    position: relative;
    border-radius: 10px;
    border: 1px solid $borderColor;
    padding: 10px;
}

.container-content {
    padding: 5px;
    margin-bottom: 15px;
}

.border-container-title {
    text-align: center;
}

.button-container {
    justify-content: center;
}

div.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 15px 10px;
}

.colors {
    text-align: center;
    width: 220px;

    input {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 10px 15px 10px;
    }
}

.red { background-color: $red; }
.blue { background-color: $navyblue; }
.green { background-color: $lightgreen; }
.yellow { background-color: $yellow; }
.orange { background-color: $orange; }
.cyan { background-color: $cyan; }
.pink { background-color: $pink; }
.brown { background-color: $brown; }
.darkred { background-color: $darkred; }
.purple { background-color: $purple; }
.lightergreen { background-color: $lightergreen; }

div.color-slot {
    position: relative;
    border: 1px solid $borderColor;
    margin: 0 2px;
    height: 40px;
    width: 40px;
    background-color: $white;

    .draggable-color {
        width: 40px;
        height: 40px;
        position: absolute;
        left: -1px;
        top: -1px;
        border-radius: 50%;
    }
}

.no-table-whitespace {
    margin-bottom: -7px !important;
}

.guess-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $borderColor;
    border-radius: 0.3em;
    padding: 5px 15px;
    height: 100%;
}

.first-guess {
    background-color: inherit;
}

.answer {
    background-color: $lightgreen;
}

.answer .color-slot {
    background-color: white;
}

.hint-square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid $borderColor;
    background-color: $lightgreen;
    border-radius: 0.3em;
    max-width: 150px;
}

.hint-slot {
    min-width: 17px;
    max-width: 17px;
    height: 17px;
    margin: 5px;
    border-radius: 0.15em;
    background-color: white;
}

.draggable-color {
    border: 1px solid $borderColor;
    font-size: 0px;
}

.draggable-color:hover, .color-slot:hover, .hint-slot:hover {
    animation: scale-up-center 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    cursor: pointer;
}

p.large-green-text {
    color: #6EDC38;
    font-size: 3em;
    font-weight: bold;
}

p.modal-text {
    font-size: 2em;
    font-weight: bold;
}

p.modal-text-smaller {
    font-size: 1.6em;
    font-weight: bold;
}

.modal-overlay {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999
}

.modal {
    z-index: 999999;
    display: block;
    padding-right: 17px;
}

.modal-dialog-centered {
    border-radius: 2em;
}

.min-width-630px {
    width: 630px;
}

.guess-row {
    display: flex;
    justify-content: space-between;
}