table {
  border-collapse: separate;
  border-spacing: 50px 5px;
}

th {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 5px;
}

tr {
    margin-top: 50px;
}

td {
    color: $borderColor;
    font-weight: bold;
    font-size: 1.3em;
}
