.button-container {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 5px 15px;
    background-color: #6EDC38;
    border: 0px solid black;
    border-radius: 4px;
    margin-left: 10px;
}

button a {
    color: #FEFEFE !important;
    font-weight: bold;
}

button:hover {
    background-color: #61c331;
    animation: scale-up-center 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

button a:hover {
    color: #FEFEFE;
    text-decoration: none;
}
