<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mastermind</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main/css/global.css') }}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="box-container">
                <div class="box">
                  <div class="col-md-12 title">
                     <h1><span class="fat">Master</span><span class="thin">mind</span></h1>
                      <h5 class="sub-title">Made by: Cees Melis and Bram Bastiaansen</h5>
                  </div>
                    <div>
                        {% block box_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>