{% extends "base_html.html" %}

{% block body %}
    {% block overlay %}{% endblock %}
    <div class="container">
        <div class="overlay"></div>
        <div class="row z-index-999">
            <div class="box-container">
                <div class="box">
                  <div class="col-md-12 title">
                     <h1><span class="fat">Master</span><span class="thin">mind</span></h1>
                      <h5 class="sub-title">Made by: Cees Melis and Bram Bastiaansen</h5>
                  </div>
                    <div>
                        {% block box_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}