<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mastermind</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/global.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="box-container">
                <div class="box p-4">
                  <div class="col-md-12 title mb-4">
                     <h1><span class="fat">Master</span><span class="thin">mind</span></h1>
                      <h5 class="sub-title">Made by: Cees Melis and Bram Bastiaansen</h5>
                  </div>
                    <div>
                        <h3 class="text-center mb-4">Statistics - Cees Melis</h3>

                        <h3>Gespeeld op</h3>
                        <table class="mb-4">
                            <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Aantal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>03-03-2020</td>
                                    <td>3 keer</td>
                                </tr>
                            </tbody>
                        </table>

                        <h3>Games played</h3>
                        <table class="mb-5">
                            <thead>
                                <tr>
                                    <th>Ranking</th>
                                    <th>Datum</th>
                                    <th>Pogingen</th>
                                    <th>Cheatmode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td>03-03-2020</td>
                                    <td>1 poging</td>
                                    <td>Not active</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-right">
                            <button class="green-btn">Create a new game</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
