
// Design color scheme colors
$darkblue: #084460;
$blue: #096192;
$lightblue: #489AD8;
$navyblue: #2D1AD4;
$white: #FEFEFE;
$darkergray: #b2b5b6;
$darkgray: #c2c5c6;
$gray: #E2E5E6;
$lightgray: #fdfdfd;
$black: #202020;
$pink: #da2451;
$lightpink: #e24b69;
$lightgreen: #6EDC38;
$lightergreen: #93FF59;
$red: #F90606;
$yellow: #DEF512;
$orange: #FFB507;
$brown: #AC6F14;
$cyan: #00ffff;
$darkred: #8c0000;
$purple: #900092;
$background: #f0f3f8;
$babyblue: #65dcfe;

$error: #bb0000;

$hoverColor: #ebebeb;
$hoverColorDark: #414141;
$borderColor: #707070;

$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadowLarge: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadowRight: 3px 0px 6px rgba(0,0,0,0.16), 3px 0px 6px rgba(0,0,0,0.23);
