{% extends "game.html" %}

{% block side_bar %}

    <div class="box-content">
        <div class="border-container">
            <div class="border-container-content">
                <div class="border-container-title font-bold mb-3">
                    Colors
                </div>
                <div class="colors">
                    <div class="color red-color"></div>
                    <div class="color blue-color"></div>
                    <div class="color green-color"></div>
                    <div class="color yellow-color"></div>
                    <div class="color orange-color"></div>
                    <div class="color brown-color"></div>
                </div>
            </div>
            <div class="button-container">
                <button>
                    <a class="px-3 mx-auto">Apply Code</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}

    <div class="container-content full-width">
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper first-guess">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <div class="guess-wrapper answer">
                    <div class="d-table m-auto no-table-whitespace">
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                        <div class="color color-slot"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="hint-square">
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="hint-slot"></div>
                        <div class="hint-slot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
