th, td {
    padding-right: 25px;
}

th {
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
}

td {
    color: #E8E800;
    font-weight: bold;
}

.green-btn {
    background-color: #6EDC38;
    color: white;
    padding: 4px 25px;
}
